body
{
    background-color: #24353f;
}
.nav
{
    color: white;
    background-color: #24353f;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.welcome
{
    color: white; 
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    background-color: #24353f;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
text-align: center;
    width: 700px;
}
.welcome h2
{
    font-size: 50px;
    color: #16a9bf;
}